<div class="clock-container">    
    <div *ngFor="let clock of displayClocks" >
        <div class="clock-card" *ngIf="clock.display" [title]="'UTC Offset: ' + clock.utcOffset">
            <div>
                <h3>{{clock.timeZoneName}}</h3>
                <img src="{{clock.imageLink}}" alt="countryFlag">
                <div *ngIf="clock.isAnalog" class="analog-card">
                    <div class="clock">
                        <div class="num num1"><div>1</div></div>
                        <div class="num num2"><div>2</div></div>
                        <div class="num num3"><div>3</div></div>
                        <div class="num num4"><div>4</div></div>
                        <div class="num num5"><div>5</div></div>
                        <div class="num num6"><div>6</div></div>
                        <div class="num num7"><div>7</div></div>
                        <div class="num num8"><div>8</div></div>
                        <div class="num num9"><div>9</div></div>
                        <div class="num num10"><div>10</div></div>
                        <div class="num num11"><div>11</div></div>
                        <div class="num num12"><div>12</div></div>
                        <div #hourHand class="hour-hand"></div>
                        <div #minuteHand class="minute-hand"></div>
                        <div #secondHand class="second-hand"></div>
                    </div>
                </div>
            <div>
                <h3>{{clock.timeZone}}</h3>
                <p>{{clock.formattedTime}}</p>
            </div>
            <div class="sunrise-sunset">
                <div class="sunrise-sunset-item">
                    <img src="https://www.svgrepo.com/show/19881/sunrise.svg" alt="Sunrise">
                    <p>{{clock.sunrise}}</p>
                </div>
                <div class="sunrise-sunset-item">
                    <img src="https://www.svgrepo.com/show/26850/sunset.svg" alt="Sunset">
                    <p>{{clock.sunset}}</p>
            </div>
        </div>
            <div>
            <button (click)="removeClock(clock.index)">Remove Clock</button>
            </div>
    </div>
</div>