/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app-root {
    height: 100%;
    width: 100%;
    min-height: 100vh; /* Ensures it takes at least the full viewport height */
    background-position: center;
    background-repeat: repeat-y; /* Repeat vertically to extend */
    background-size: cover; /* 'cover' to ensure proportional scaling */
    transition: background-image 0.5s ease-in-out;
}

/* Night, Dawn, Day, Dusk Backgrounds */
.night {
    background-image: url('/assets/night.png');
}

.dawn {
    background-image: url('/assets/dawn.png');
}

.day {
    background-image: url('/assets/day.png');
}

.dusk {
    background-image: url('/assets/dusk.png');
}
